
html, body, .container {
    height: 100% !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 {
    color: #AFBC36;
}

h1, h2 {
    letter-spacing: 2px;
}

td {
    padding: 15px !important;
}

a {
    outline: 0;
    color: #b9be32;
}
a:focus,
a:hover {
    color: #d3d766;
}

img {
    max-width: 100%;
}

label {
    font-weight: 300;
}

.body-container {
    min-height: 100%;
    position: relative;
}

.no-margin-right {
    margin-right: 0px !important;
}

.no-margin-left {
    margin-left: -3px !important;
}

.navbar > .container {
    padding: 15px;
}

.navbar .navbar-brand {
    font-size: 24px;
    letter-spacing: -0.04rem;
    line-height: 15px;
    color: #FFF;
    padding: 0 25px;
}

.navbar .navbar-brand img {
    height: 40px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000 !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #FFF !important;
}

.navbar li > a {
    transition: opacity 0.08s ease-in 0s;
    cursor: pointer;
}

.navbar-inverse .navbar-toggle {
    border: none;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #b9be32;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}

.navbar-collapse {
    box-shadow: none;
    padding-left: 25px;
}

.align-text-to-button {
    padding-top: 16px;
}

.padded-container {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.main-container {
    margin-top: 35px;
    margin-bottom: 25px;
    padding-bottom: 100px;
}

ul.nav-pills {
    padding-bottom: 2em;
}
.nav-pills > li > a {
    color: #b9be32;
    background-color: #fff;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li > a:hover {
    color: #fff;
    background-color: #b9be32;
}

#chal > form{
    width: 400px;
    margin: 0 auto;
}

.reveal-modal{
    text-align: center;
}

.chal-desc{
    text-align: left;
}

table{
    width: 100%;
}

#challenges button{
    margin: 8px;
}

.row > h1{
    text-align: center;
}

#challenges{
    line-height: 66px;
}

#score-graph{
    height: 450px;
    display: block;
    clear: both;
}

.fa.spinner {
    margin-top: 225px;
    text-align: center;
    opacity: 0.5;
}

.spinner-error {
    padding-top: 210px;
    text-align: center;
    opacity: 0.5;
}

#keys-pie-graph{
    width: 50%;
    float: left;
}

#categories-pie-graph{
    width: 50%;
    float: left;
}

.branding-logo {
    display: block;
    max-width: 100px;
}

.logo {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 50px;
    display: block;
}

@media only screen and (min-width: 40.063em){
    .top-bar .dropdown{
        display: block;
        padding: 0 15px 5px;
        width: 200% !important;
    }
}

.btn {
    letter-spacing: 1px;
    text-decoration: none;
    -moz-user-select: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
    font-size:14px;
    line-height:20px;
    font-weight:300;
    text-transform:uppercase;
    padding:8px 20px;
}

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.file-wrapper {
    background-color: #AFBC36;
}

.file-wrapper:hover {
    background-color: #869C16;
}

.theme-background {
    background-color: #545454 !important;

}

.solved-challenge {
    background-color: #b9be32 !important;
}

.panel-theme {
    border-color: #545454;
}

.panel-theme > .panel-heading {
    border-color: #545454;
    background-color: #545454;
    opacity: 1;
    color: #FFF;
    text-align: center;
}

.btn-outlined.btn-theme {
    background: #b9be32;
    border-radius: 3px;
    border: none;
    color: #FFF;
}

.btn-outlined.btn-theme:hover,
.btn-outlined.btn-theme:active {
    color: #FFF;
    background: #e28c45;
}

.navbar-inverse {
    background: #b9be32;
    border: medium none;
    margin-bottom: 0px;
}

.jumbotron {
    background-color: #3A3E3D;
    color: #FFF;
    padding: 0px 0px 25px;
}

.jumbotron.home {
    text-align: center;
    margin-bottom: 0px;
}

@media screen and (min-width:768px) {
 .jumbotron .h1,
 .jumbotron h1 {
  font-size: 48px
 }
}

.navbar {
    border-radius: 0px;
}

.modal-content {
    border-radius: 0px;
}

.chal-tag {
    margin: 0 5px 0 5px;
}

.alert {
    border-radius: 0px;
}

/* INPUT CSS */

.submit-row {
    padding-left: 15px;
    padding-right: 30px;
}

.input {
    width: 100%;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em 0em;
    vertical-align: top;
}

.input-field {
    position: relative;
    display: block;
    float: right;
    padding: 0.6em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    font-weight: 400;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input-field:focus {
    outline: none;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

.input-field {
    width: 100%;
    background-color: #eee;
    border: 2px solid transparent;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s;
}

.input-label {
    bottom: 100%;
    display: inline-block;
    float: right;
    font-size: 100%;
    font-weight: 300;
    margin: 0 0 0 0 !important;
    overflow: hidden;
    position: absolute;
    text-align: left;
    user-select: none;
    width: 100%;
}

.label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
    padding: 0.25em 0;
    transition: transform 0.3s;
}

.label-content::after {
    content: attr(data-content);
    position: absolute;
    font-weight: 800;
    bottom: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    color: #a3d39c;
    padding: 0.25em 0;
    letter-spacing: 1px;
    font-size: 0.85em;
}

.input-field:focus + .input-field,
.input--filled .input-field {
    background-color: transparent;
    border-color: #b9be32;
}

.input--hide {
    display: none;
}

#submit {
    position: relative;
    right: -15px;
}

.done-row {
    margin: 0px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* END OF INPUT CSS */
