/* Overrides for Computest color scheme */

* {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html, body, .container {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

/* Adjust for large Computest logo */
body {
    padding-top: 5.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    letter-spacing: normal;
    margin: .5rem 0 .5rem;
}

h1 {
    color: #AFBC36;
    margin: 2.5rem 0 1rem;
}

h2 {
    margin: 2rem 0 .5rem;
}

a {
    outline: 0;
    color: #B9BE32;
}
a:focus,
a:hover {
    color: #D3D766;
}

label {
    font-weight: 300;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #FFFFFF;
    background-color: #B9BE32;
}

.jumbotron {
    background-color: #3A3E3D;
    color: #FFFFFF;
}
.jumbotron h1 {
    color: #FFFFFF;
    margin: 0;
}

.navbar {
    min-height: 5.6rem;
}
.navbar.bg-light {
    background-color: #B9BE32 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #FFFFFF;
}

.form-control {
    color: #000000;
}
.form-control {
    background: #f0f0f0;
    border-radius: 3px;
    border: 2px solid transparent;
    box-shadow: none;
    color: #000000;
    padding: 0.8em;
}
.form-control:focus {
    background: #f0f0f0;
    color: #000000;
    border: 2px solid rgba(42,42,42,.1);
    box-shadow: none;
}
.form-control.input-filled-valid {
    border-color: #B9BE32;
    box-shadow: none;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #B9BE32;
    border: none;
    border-radius: 3px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #FFFFFF;
    background-color: #E28C45;
    border: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn.btn-dark.challenge-button {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3) !important;
    background-color: #3A3E3D;
    opacity: 1;
    border: none;
    box-shadow: 0 0 3px gray;
}
.btn.btn-dark.challenge-button:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) !important;
    opacity: 0.9;
}
.btn.btn-dark.challenge-button.solved-challenge {
    background-color: #B9BE32 !important;
    opacity: 1;
}
.btn.btn-dark.challenge-button.solved-challenge:hover {
    opacity: 0.9;
}
